body {
    background-color: #14121a;
}

#navvbar {
    display: flex;
    flex-flow: row;
    color: #d1d7e0;
    font-size: 5px;
    font-family: 'Michroma', sans-serif;

    background-color: #2e293c;
    height: 95px;
}

#navlogo {
    width: 10%;
    height: 80px;
    margin-left: 30px;
    margin-top: 10px;
}

#navdiv {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-content: bottom;
    padding-top: 55px;
    padding-bottom: 10px;
    font-size: 5px;
    font-family: 'Michroma', sans-serif;
    /* width:80%; */
    color: rgba(255, 255, 255, 0.461);
    margin-left: 20px;


}

/* #codingnav {
    color: #d1d7e0;
    font-size: 15px;
}

#designav {


    color: #d1d7e0; */
    /* margin-left: 10px; */
    /* font-size: 15px;

}

#aboutnav {

    color: #d1d7e0;

    font-size: 15px;

}


#navname {
    color: #d1d7e0;
    font-size: 30px;

} */

.navlink {

    height: 25px;
    width: 125px;
    border: 1px solid #d9dbde90;
    vertical-align: bottom;
    color: #cbcdcf90;
    font-family: 'Michroma', sans-serif;
    font-size: 5px;
    letter-spacing:5px;
    font-size: 15px;
    margin-left:60px;
    /* margin-right: 10px; */
    text-align:center;

    
}

.jumbotron {

    height:650px;
    background-image: url("images/EverypageImages/Laptopglasses.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;

    color:white;
    background-color: #2e293c;
    margin-top: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
}

#innerdiv {

   
    background-color: #2e293cbd;
    font-family: 'Quattrocento Sans', sans-serif;
    letter-spacing: 12px;

    border: white;
    border-style: solid;
    border-width: 5px;
}

#footerdiv {

    height: 90px;
    background-color: #2e293c;
}

#footerinfo {

    color: #dfe5ee;
    display: flex;
    letter-spacing: 4px;
    font-family: 'Michroma', sans-serif;
    font-size: 13px;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 10px;

}

