body {
    background-color: #14121a;
}

#navvbar {
    /* position: fixed; 
    top: 0;  */
    width: 100%; 
    display: flex;
    flex-flow: row;
    color: #d1d7e0;
    font-size: 5px;
    font-family: 'Michroma', sans-serif;
    background-color: #2e293c;
    height: 95px;
    /* z-index: 700; */
}

#navlogo {
    width: 10%;
    height: 80px;
    margin-left: 30px;
    margin-top: 10px;
}

#navdiv {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-content: bottom;
    padding-top: 55px;
    padding-bottom: 10px;
    padding-left:80px;
    font-size: 5px;
    font-family: 'Michroma', sans-serif;
    /* width:80%; */
    color: rgba(255, 255, 255, 0.461);
    margin-left: 20px;


}



.navlink {

    height: 25px;
    width: 125px;
    border: 1px solid #d9dbde90;
    vertical-align: bottom;
    color: #cbcdcf90;
    font-family: 'Michroma', sans-serif;
    font-size: 5px;
    letter-spacing:5px;
    font-size: 15px;
    margin-left:60px;
    /* margin-right: 10px; */
    text-align:center;

    
}

.jumbotron {

    height:650px;
    background-image: url("images/EverypageImages/Laptopglasses.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    background-attachment: scroll;

    color:white;
    background-color: #2e293c;
    margin-top: 10px;
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 10px;
}

#innerdiv {

   
    background-color: #2e293cbd;
    font-family: 'Quattrocento Sans', sans-serif;
    letter-spacing: 12px;

    border: white;
    border-style: solid;
    border-width: 5px;
}

#footerdiv {

    /* position: fixed;
    left: 0;
    bottom: 0;
    width: 100%; */
    height: 60px;
    background-color: #2e293c;
    margin-top: 40px;
}

#footerinfo {

    color: #dfe5ee;
    display: flex;
    letter-spacing: 4px;
    font-family: 'Michroma', sans-serif;
    font-size: 13px;
    justify-content: space-evenly;
    align-content: center;
    padding-top: 10px;

}

/* Everything to this point has been for elements that are universal to the site */

/* Design.html page */

#artcard {

    background-color: #8888889e;
    color: #f7f7f7d6;
    border: 1px solid #f4f4f490;
    justify-content: center;
    margin-bottom: 40px;


}

#gallerydiv {

    background-color: #050506;

    padding-left: 70px;
    padding-right: 70px;
}

#gallcards {

    background-color: #858585;
    color: #00000090;
    /* background-color: #2e293c;
    color: #d9dbde90; */
}

#h5card {

    text-decoration: underline;
}



/* This section of the css file is exclusive to the gallery pages */
#my-video {

    margin-top: 50px;
}


